extends layout/master.jade

block header

block content
	.row.full--page
		section.col.s12.m12
			#menu--sidebar.side-nav.fixed
				.user--control
					.user--details
						.user--avatar
						p Elva Bradley
						span.user--menu-control
				.channel--select
					.channel--list
						.channel--item
							a(href="commitment.html") /commitments
							span.counter 8
						.channel--item.active
							a(href="asks.html") /asks
							span.counter 2
				
				.channel--select
					header.category--title 
						p Teams
						span.add--badge
					.channel--list
						.channel--item
							a(href="#") Dhamira
							span.menu--ellipsis
					.channel--list
						.channel--item
							a(href="#") Monkey Planes
							span.menu--ellipsis

				.channel--select
					header.category--title 
						p Integrations
						span.add--badge
					.channel--list
						.channel--item
							a(href="#") Gmail
							span.menu--ellipsis
					.channel--list
						.channel--item
							a(href="#") Calendar
							span.menu--ellipsis
				.logo
			
			.main--content
				.mobile--header.hide-on-large-only
					a.button-collapse.show-on-medium-and-down.hide-on-large-only(href="#" data-activates="menu--sidebar")
					.mobile--heading.center.show-on-medium-and-down.hide-on-large-only /asks
					a#add--badge.show-on-small-and-down.hide-on-large-only.btn-floating.btn-large.waves-effect.waves-light
						i.material-icons add

				.container
					.commitment--add.hide-on-med-and-down
						a.dropdown-button.btn(href="#" data-activates="add-commitment" data-beloworigin="true") PH
							ul#add-commitment.dropdown-content
								li(data-group="Product Hackers").commitment--group
									| Product Hackers
									em.commitment--member-group PH
								li(data-group="Google Advocates").commitment--group
									| Google dev team
									em.commitment--member-group GA
								li(data-group="Google Advocates").commitment--group
									| Apple design
									em.commitment--member-group.team-1 
								li(data-group="Google Advocates").commitment--group
									| Enron
									em.commitment--member-group E
						textarea.autoExpand.commitment--item(rows='1' data-min-rows='1' placeholder="Add new ask")

					.section--heading INCOMING

					.ask--list
						.ask--item
							.ask--user
								span.commitment--member.user-1
								span.ask--badge.new.badge
							.ask--intro
								i.em.em-pray
								span.operator--name Aaron 
								|asked if you could:
							.ask--title Complete expense reports by Friday, June 14th
							.assignment--time 1 hr ago
							.ask--control
								a.ask--accept.waves-effect.waves-light.btn Accept
								a.ask--decline.waves-effect.waves-light.btn Decline
								a.ask--modify.waves-effect.waves-light.btn Modify
						.ask--item
							.ask--user
								span.commitment--member.user-3
							.ask--intro
								i.em.em-pray
								span.operator--name Frank 
								|asked if you could:
							.ask--title Cook the books by Friday, June 14th
							.assignment--time 1 hr ago
							.ask--control
								a.ask--accept.waves-effect.waves-light.btn Accept
								a.ask--decline.waves-effect.waves-light.btn Decline
								a.ask--modify.waves-effect.waves-light.btn Modify

					.section--heading OUTGOING

					.ask--list.outgoing
						.ask--item
							.ask--user
								span.commitment--member.user-1
								span.ask--status pending
									i.em.em-clock1
							.ask--controls.hide-on-med-and-down 
								.ask--control-edit Edit
								.ask--control-delete Delete
							.ask--intro
								| You asked 
								span.operator--name Kyle  
								|to:
							.ask--title Find an intern for the summer
							.assignment--time 1 hr ago
								
						.ask--item
							.ask--user
								span.commitment--member.user-3
								span.ask--status pending
									i.em.em-clock1
							.ask--controls.hide-on-med-and-down 
								.ask--control-edit Edit
								.ask--control-delete Delete
							.ask--intro
								| You asked 
								span.operator--name Aaron   
								|to:
							.ask--title Update user story for Asks by this Friday, June 14th
							.assignment--time 1 hr ago