extends layout/master.jade

block header

block content
	.row.full--page
		section.col.s12.m12
			a.show-on-medium-and-down.button-collapse.show-on-large(href="#" data-activates="menu--sidebar")
			#menu--sidebar.col.m6.l4.s10.side-nav.fixed
				.user--control
					.user--details
						.user--avatar
						p Elva Bradley
						span.user--menu-control
				.channel--select
					.channel--list
						.channel--item
							a(href="/commitment.html") /commitments
							span.counter 8
						.channel--item
							a(href="#") /asks
							span.counter 2

				section.category--items
					header.category--title
						p Teams
						span.add--badge
					.category--item
						p Dhamira
						span.menu--ellipsis
					.category--item
						p MonkeyPLanes
						span.menu--ellipsis

				section.category--items
					header.category--title
						p Integrations
						span.add--badge
					.category--item
						p Gmail
						span.menu--ellipsis
					.category--item
						p Calendar
						span.menu--ellipsis
				.logo
			
			.main--content
				.container
					.commitment--add
						a.dropdown-button.btn(href="#" data-activates="add-commitment" data-beloworigin="true") PH
							ul#add-commitment.dropdown-content
								li.commitment--group one
								li.commitment--group two
						textarea.autoExpand.commitment--item(rows='1' data-min-rows='1' placeholder="Add new ask")

					.section--heading INCOMING

					.ask--list
						.ask--item
							.ask--user
								span.commitment--member.user-1
								span.ask--badge.new.badge
							.ask--intro
								i.em.em-pray
								span.operator--name Aaron 
								|asked if you could:
							.ask--title Complete expense reports by Friday, June 14th
							.assignment--time 1 hr ago
							.ask--control
								a.ask--accept.waves-effect.waves-light.btn Accept
								a.ask--decline.waves-effect.waves-light.btn Decline
								a.ask--modify Modify
						.ask--item
							.ask--user
								span.commitment--member.user-3
							.ask--intro
								i.em.em-pray
								span.operator--name Frank 
								|asked if you could:
							.ask--title Complete expense reports by Friday, June 14th
							.assignment--time 1 hr ago
							.ask--control
								a.ask--accept.waves-effect.waves-light.btn Accept
								a.ask--decline.waves-effect.waves-light.btn Decline
								a.ask--modify Modify

					.section--heading MADE TO ME