extends layout/master.jade

block header

block content
	.row.full--page
		section.col.s12.m12
			#menu--sidebar.side-nav.fixed
				.user--control
					.user--details
						.user--avatar
						p Elva Bradley
						span.user--menu-control
				.channel--select
					.channel--list
						.channel--item.active
							a(href="/commitment.html") /commitments
							span.counter 8
						.channel--item
							a(href="/asks.html") /asks
							span.counter 2
				
				.channel--select
					header.category--title 
						p Teams
						span.add--badge
					.channel--list
						.channel--item
							a(href="#") Dhamira
							span.menu--ellipsis
					.channel--list
						.channel--item
							a(href="#") Monkey Planes
							span.menu--ellipsis

				.channel--select
					header.category--title 
						p Integrations
						span.add--badge
					.channel--list
						.channel--item
							a(href="#") Gmail
							span.menu--ellipsis
					.channel--list
						.channel--item
							a(href="#") Calendar
							span.menu--ellipsis
				.logo
			
			.main--content

				.mobile--header.hide-on-large-only
					a.button-collapse.show-on-medium-and-down.hide-on-large-only(href="#" data-activates="menu--sidebar")
					.mobile--heading.center.show-on-medium-and-down.hide-on-large-only /commitments
					a#add--badge.show-on-small-and-down.hide-on-large-only.btn-floating.btn-large.waves-effect.waves-light
						i.material-icons add

				.container
					.commitment--add.hide-on-med-and-down
						a.dropdown-button.btn(href="#" data-activates="add-commitment" data-beloworigin="true") PH
							ul#add-commitment.dropdown-content
								li(data-group="Product Hackers").commitment--group
									| Product Hackers
									em.commitment--member-group PH
								li(data-group="Google Advocates").commitment--group
									| Google dev team
									em.commitment--member-group GA
								li(data-group="Google Advocates").commitment--group
									| Apple design
									em.commitment--member-group.team-1 
								li(data-group="Google Advocates").commitment--group
									| Enron
									em.commitment--member-group E
								
						textarea.autoExpand.commitment--item(rows='1' data-min-rows='1' placeholder="Add new commitment")

					.commitment--list
						.commitment--item
							.commitment--action
								a.commitment--complete(href="#")
									i.medium.material-icons check
							.commitment--deadline.commitment--deadline-red One hour from now
							.commitment--title Try to write a commitment that will entend to two lines
							.commitment--members
								span.commitment--member-group PH
								span.commitment--member.user-1
								span.commitment--member.user-2
								span.commitment--member.user-3

						.commitment--item
							.commitment--action
								a.commitment--complete(href="#")
									i.medium.material-icons check
							.commitment--deadline.commitment--deadline-yellow One hour from now
							.commitment--title Try to write a commitment that will entend to two lines
							.commitment--members
								span.commitment--member-group PH
								span.commitment--member.user-1

						.commitment--item
							.commitment--action
								a.commitment--complete(href="#")
									i.medium.material-icons check

							.commitment--title Try to write a commitment that will entend to two lines
							.commitment--members
								span.commitment--member-group PH
								span.commitment--member.user-1
					
					.section--heading MADE TO ME

					.assignment--list
						.assignment--item
							.assignment--owner.user-3
							.assignment--operator
								span.operator--name Kyle
								|committed to:
								svg.radial--progress(width="48" height="48" viewBox="0 0 48 48")
									circle(cx="24" cy="24" r="22" fill="none" stroke="#ED375E" stroke-width="4" stroke-dasharray="138.230" stroke-dashoffset="13.823")
										animate(attributeName="stroke-dashoffset" attributeType="XML" from="138.230" to="13.823" begin="0s" dur="1s" fill="remove" repeatCount="1")

							.commitment--title Find an intern for the summer
							.assignment--time 1 hr ago
							.delete--action Delete
						.assignment--item
							.assignment--owner.user-1
							.assignment--operator
								span.operator--name Aaron  
								|committed to:
								svg.radial--progress(width="48" height="48" viewBox="0 0 48 48")
									circle(cx="24" cy="24" r="22" fill="none" stroke="#EED200" stroke-width="4" stroke-dasharray="138.230" stroke-dashoffset="41.468")
										animate(attributeName="stroke-dashoffset" attributeType="XML" from="138.230" to="41.468" begin="0s" dur="1s" fill="remove" repeatCount="1")
							.commitment--title Update user story for Asks by this Friday, June 14th
							.assignment--time 1 hr ago
							.delete--action Delete