extends layout/master.jade

block header

block content
	.row.full--page
		.col.s12.m12
			#menu--sidebar.col.m6.l4.s10
				.user--control
					.user--details
						.user--avatar
						p Elva Bradley
						span.user--menu-control(data-beloworigin='true', href='#', data-activates='dropdown1')
				.channel--select
					.channel--list
						.channel--item
							a(href="#") /commitments
							span.counter
						.channel--item
							a(href="#") /asks
							span.counter

				section.category--items
					header.category--title
						p Teams
					.category--item
						p Dhamira
					.category--item
						p MonkeyPLanes

				section.category--items
					header.category--title
						p Integrations
					.category--item
						p Dhamira
					.category--item
						p MonkeyPLanes
			
			.main--content.col.m6
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quod natus at soluta explicabo doloremque aliquid, earum vitae laborum molestias quam harum molestiae consequuntur! Ea excepturi minima quo possimus ducimus.